.registration-container{
    display: flex;
   margin-top: 5rem;
}

.registration-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
    height: 50%;
    font-size: 1.8rem;
}

.registration-form input{
    padding-top: 1rem;
    border-radius: 0.5rem;
    border:0.1rem solid gray;
    outline: none;
    font-size: 1.5rem;
    padding-left: 0.1rem;
}

.registration-form label{
    margin-top: 0.5rem;
}

.registration-form input:focus{
    border-color: royalblue;
}

.gender{
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    margin-right: 1rem;
}

.gender > label{
    margin-right: 2rem;
}

.gender-male{
    margin-right: 1rem;
}

.registration-container button{
    margin-top: 1rem;
    padding:1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background:rgb(144, 46, 224);
    color: white;
    outline: none;
}

.registration-container button:hover{
    cursor: pointer;
}