<div class="registration-container">
  <form action="" class="registration-form">
    <label for="fistName">FirstName</label>
    <input type="text" name="firstName" id="firstName" autocomplete="off" />
    <label for="lastName">LastName</label>
    <input type="text" name="lastName" id="lastName" autocomplete="off" />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" autocomplete="off" />
    <label for="mobile">Mobile</label>
    <input type="text" name="mobile" id="mobile" autocomplete="off" />
    <div class="gender">
      <label for="" class="gender-label">Gender</label>
      <div class="gender-male">
        <input type="radio" name="gender" id="gender" value="male" />
        <label for="" >Male</label>
      </div>
      <div class="gender-female">
        <input type="radio" name="gender" id="gender" value="female" />
        <label for="">Female</label>
      </div>
    </div>
    <button>Register</button>
  </form>
</div>
