.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(180, 2%, 31%);
  height: 12vh;
  width: 100vw;
}

.logo {
  padding: 0.5rem 1rem;
}
.nav-list1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 15px;
}

.active-link {
    background-color: rgb(238, 232, 207);
    font-weight:bool;
    color: rgb(71, 70, 70);
    border-radius: 1rem;
}

@media only screen and (max-width: 360px) {
    nav{
        height: 25vh;
    }
    nav,a{
        font-size: 1.3rem;
    }
    .logo{
        padding: 0px;
    }

}
